{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des panoplies</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for panoply in panoplies %}
            <tr>
                <td><a href="{{ path('panoply_show', { 'id': panoply.id }) }}">{{ panoply.id }}</a></td>
                <td>{{ panoply.name }}</td>
                <td>{{ panoply.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('panoply_new') }}">Créer une nouvelle panoplie</a>
{% endblock %}
