{% extends 'base.html.twig' %}

{% block body %}
    <h1>Panoplies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Stuff</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panoply in panoplies %}
            <tr>
                <td><a href="{{ path('panoply_show', { 'id': panoply.id }) }}">{{ panoply.id }}</a></td>
                <td>{{ panoply.name }}</td>
                <td>{{ panoply.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('panoply_show', { 'id': panoply.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('panoply_edit', { 'id': panoply.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('panoply_new') }}">Create a new panoply</a>
        </li>
    </ul>
{% endblock %}
