{% extends 'base.html.twig' %}

{% block body %}
    <h1>Travels list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Description</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travel in travels %}
            <tr>
                <td><a href="{{ path('travel_show', { 'id': travel.id }) }}">{{ travel.id }}</a></td>
                <td><a href="{{ travel.link }}" target="_blank">{{ travel.name }}</a></td>
                <td>{{ travel.city.name }}</td>
                <td>{{ travel.description }}</td>
                <td>{{ travel.position }}</td>
                <td>
                            <a href="{{ path('travel_edit', { 'id': travel.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('travel_new') }}">Ajouter une Visite</a>
{% endblock %}
