{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ travel.name }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ travel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td><a href="{{ travel.link }}" target="_blank">{{ travel.name }}</a></td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ travel.city.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ travel.description }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ travel.position }}</td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{% if travel.createdAt %}{{ travel.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{% if travel.updatedAt %}{{ travel.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
            <a href="{{ path('travel_index') }}">Liste des visites</a><br/>
            <a href="{{ path('travel_edit', { 'id': travel.id }) }}">Modifier</a><br/>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
{% endblock %}
