<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}RoadToAdventure.com{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div id="menu">
        <div id="menu-container">
            <a href="{{ path('_index') }}">Équipements</a>
            <a href="{{ path('panoply_index') }}">Panoplies</a>
            <a href="{{ path('travel_index') }}">Visites</a>
            <a href="{{ path('city_index') }}">Villes</a>
            <a href="{{ path('category_index') }}">Catégories d'Équipements</a>
            
            
            
        </div>
        {% if is_granted("ROLE_ADMIN") %}
        <div id="menu-login">
            Wesh {{ app.user.username }}
            <a href="{{ path('fos_user_change_password') }}"> // Changer son mdp  //</a>
            <a href="{{ path('fos_user_security_logout') }}">  Se déconnecter</a>
        </div>
        {% endif %}
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
