{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des villes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.id }}</a></td>
                <td>{{ city.name }}</td>
                <td>
                            <a href="{{ path('city_edit', { 'id': city.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('city_new') }}">Ajouter un nouvelle ville</a>
{% endblock %}
