{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ city.name }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ city.name }}</td>
            </tr>
        </tbody>
    </table>
            <a href="{{ path('city_index') }}">Liste des villes</a><br/>
            <a href="{{ path('city_edit', { 'id': city.id }) }}">Modifier</a><br/>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
{% endblock %}
