{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ stuff.name }}</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-group'}}) }}
    <div class="form-group"></div>
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

            <a href="{{ path('_index') }}">Liste des équipements</a><br/>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
{% endblock %}
