{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste d'équipements</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Priorité</th>
                <th>Prix recherché</th>
                <th>Prix Moyen</th>
                <th>Informations</th>
                <th>Acheté ?</th>
                <th>Équivalent</th>
                <th>Catégorie</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for stuff in stuffs %}
            <tr>
                <td><a href="{{ path('_show', { 'id': stuff.id }) }}">{{ stuff.id }}</a></td>
                <td><a href="{{ stuff.link }}" target="_blank">{{ stuff.name }}</a></td>
                <td>{{ stuff.priority }}</td>
                <td>{{ stuff.minPrice }}</td>
                <td>{{ stuff.price }}</td>
                <td>{{ stuff.informations }}</td>
                <td>{% if stuff.buy %}Oui{% else %}Non{% endif %}</td>
                <td>{{ stuff.worth }}</td>
                <td>{{ stuff.category.name }}</td>
                <td>
                            <a href="{{ path('_edit', { 'id': stuff.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('_new') }}">Créer un Nouvel Équipement</a><br/>
{% endblock %}
