{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ stuff.name }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stuff.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td> <a href="{{ stuff.link }}" target="_blank">{{ stuff.name }}</a></td>
            </tr>
            <tr>
                <th>Priorité</th>
                <td>{{ stuff.priority }}</td>
            </tr>
            <tr>
                <th>Prix Recherché</th>
                <td>{{ stuff.minPrice }}</td>
            </tr>
            <tr>
                <th>Prix Moyen</th>
                <td>{{ stuff.price }}</td>
            </tr>
            <tr>
                <th>Informations</th>
                <td>{{ stuff.informations }}</td>
            </tr>
            <tr>
                <th>Acheté ?</th>
                <td>{% if stuff.buy %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Équivalent</th>
                <td>{{ stuff.worth }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ stuff.category.name }}</td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{% if stuff.createdAt %}{{ stuff.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{% if stuff.updatedAt %}{{ stuff.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
            <a href="{{ path('_index') }}">Liste des équipements</a><br/>
            <a href="{{ path('_edit', { 'id': stuff.id }) }}">Modifier</a><br/>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
{% endblock %}
